<script>

    // 規格なし商品をカートに追加
    function cartInProduct(action_url, id, product_class_id) {

        var data = {};
        data.mode = 'add_cart';
        data.mode_ex = 'direct_cart_in';
        data._token = $('[name=detail_token]').val();
        data.product_class_id = product_class_id;
        data.product_id = id;
        data.quantity = 1;

        // カートへ商品を追加
        $.ajax({
            'type' : 'POST',
            url : action_url,
            data : data,
            dataType : 'json',
            error: function() {
                // error
                resetPage(id, "", 0);

                alert('{{ app.config.DirectCartIn.const.DIRECT_CART_ERROR }}');
            },
            success : function(data, dataType) {

                setNewToke(data.new_token);

                if(data.ret == 1) {
                    // OK
                    $("p .cart_price .price").text(data.total_price);
                    $(".badge").text(data.total_quantity);

                    resetPage(id, data.cart_html, data.total_quantity);

                    // 完了メッセージ
                    completeMessage(id);

                } else{
                    // NG
                    resetPage(id, "", 0);
                    alert(data.msg);
                }
            }

        });

    }

    function setNewToke(new_token) {
        $('#detail_token').val(new_token);
    }

    var now_msg = "";

    // 完了メッセージ設定
    function completeMessage(id) {

        if(now_msg != "") return;

        now_msg = $('#cart_' + id).text();

        var complete_msg = "{{ app.config.DirectCartIn.const.COMPLETE_MSG }}";

        $('#cart_' + id).text(complete_msg);

        // 1.5s 後元へ戻す
        setTimeout(function() {
            $('#cart_' + id).text(now_msg);
            now_msg = "";
        }, 1500);
    }

    // 画面状態をリセット
    function resetPage(id, cart_html, total_quantity) {
        $("#cart_" + id).prop("disabled", false);
        $(".prevention-masked").remove();

        if(cart_html == "") return;

        // カートブロック情報の再取得
        if($('#cart_area').length) {

            $.ajax({
                'type' : 'POST',
                url : '{{ url('block_cart') }}',
                dataType : 'html',
                error: function() {
                    // error
                    alert('{{ app.config.DirectCartIn.const.CART_GET_ERROR }}');
                },
                success : function(data) {

                    if(total_quantity == 1) {
                        $('#cart_area').replaceWith(data);

                        // スクリプト再実行
                        $('.cart-trigger').on('click', function (event) {
                            event.preventDefault();

                            //toggle cart visibility
                            $('.cart').toggleClass('is-visible');
                            $('.cart-trigger').toggleClass('cart-is-visible');
                            $('.overlay').toggleClass('cart-is-visible');
                            ($('.cart').hasClass('is-visible')) ? $('.overlay').addClass('is-visible') : $('.overlay').removeClass('is-visible');

                            $('#wrapper').removeClass('drawer-open');

                        });


                    } else {
                        $('#cart .inner .item_box').remove();
                        $('#cart .inner .cart_price').remove();

                        var len = $(data).find('.item_box').length;

                        var arrPC = new Array(len);
                        var arrSP = new Array(len);

                        $(data).find('.item_box').each(function (i, item_box) {

                            arrPC[i] = '<div class="item_box clearfix">' + $(item_box).html() + "</div>";
                        });

                        $(data).find('#cart .inner .cart_price').each(function (i, cart_price) {

                            arrSP[i] = cart_price;
                        });

                        for(var i = len -1 ; i >= 0 ; i--) {

                            $('#cart .inner').prepend(arrSP[i])
                            $('#cart .inner').prepend(arrPC[i])
                        }
                    }

                }
            });
        }
    }

    // 規格商品用のモーダル表示
    $(function() {

        $('#productClassModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var recipient = button.data('whatever');
            var modal = $('#productClassModal');

            modal.find('.modal-body').text('{{ app.config.DirectCartIn.const.READ_MESSAGE }}');

            $.ajax({
                url: "{{ url('plg_direct_cartin') }}",
                cache: false,
                data: {
                    'id' : recipient
                },
            }).done(function(data, textStatus, jqXHR){
                modal.find('.modal-body').html(data);
            }).fail(function(data, textStatus, errorThrown){
                modal.find('.modal-body').text('{{ app.config.DirectCartIn.const.READ_ERROR }}');
            });
        });
    });
</script>