{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div class="guide-section">
	<div class="_container">
			<h2 class="heading">
				<img class="" src="{{ app.config.front_urlpath }}/img/top/guide-ttl.png" alt="初心者ガイド"></h2>
			<p class="guide-text"><img class="" src="{{ app.config.front_urlpath }}/img/top/guide-text.png" alt="スマホ初心者の方もこれでバッチリ！"></p>
			<p class="guide-button1"><a href="<!--{$smarty.const.ACW_BASE_URL}-->about-sim/#about-contents-outer1"><img class="" src="{{ app.config.front_urlpath }}/img/top/guide-button1.png" alt="格安スマホとは？"></a></p>
			<p class="guide-button2"><a href="<!--{$smarty.const.ACW_BASE_URL}-->about-sim/#about-contents-outer3"><img class="" src="{{ app.config.front_urlpath }}/img/top/guide-button3.png" alt="SIMフリースマホとは？"></a></p>
			<p class="guide-button3"><a href="<!--{$smarty.const.ACW_BASE_URL}-->about-sim/#about-contents-outer2"><img class="" src="{{ app.config.front_urlpath }}/img/top/guide-button2.png" alt="SIMカードとは？"></a></p>
			<p class="guide-bottom-img"><img class="_img-w" src="{{ app.config.front_urlpath }}/img/top/guide-bottom-img.png" alt="スマホ"></p>

	</div>
</div>