<div id="genaral-page-header">
	<div class="inner"">

{% set currentPath = path(app.request.attributes.get('_route'),
                           app.request.attributes.get('_route_params')) %}
{% if currentPath=='/' %}


		<h1 class="logo"><a href="{{ url('homepage') }}"><img src="{{ app.config.front_urlpath }}/img/common/logo.png" alt="スマホマニアbyモバレコ"></a></h1>
		<p class="sub-introduce-text"><img src="{{ app.config.front_urlpath }}/img/common/header-sub-text.png" alt="スマホマニアならどこよりも安く、お得に、SIMフリースマホとSIMカードがゲットできる"></p>

{% else %}
		<p class="logo"><a href="{{ url('homepage') }}"><img src="{{ app.config.front_urlpath }}/img/common/logo.png" alt="スマホマニアbyモバレコ"></a></p>

		<p class="sub-introduce-text"><img src="{{ app.config.front_urlpath }}/img/common/header-sub-text.png" alt="スマホマニアならどこよりも安く、お得に、SIMフリースマホとSIMカードがゲットできる"></p>

{% endif %}
	</div>
</div>