<style>
#genaral-page-header .pc.inner {
	margin-bottom: 10px;
}
#genaral-page-header .sp.inner {
	margin-bottom: 5px;
}
#genaral-page-header h1{
	margin:0 0 0 0;
}
</style>

{% set currentPath = path(app.request.attributes.get('_route'),
                           app.request.attributes.get('_route_params')) %}
<div id="genaral-page-header">

	<div class="inner pc">
{% if currentPath=='/' %}
		<h1 class="logo pc"><a href="{{ url('homepage') }}"><img src="{{ app.config.front_urlpath }}/img/common/logo.png" alt="{{ BaseInfo.shop_name }}"></a></h1>
{% else %}
		<p class="logo pc"><a href="{{ url('homepage') }}"><img src="{{ app.config.front_urlpath }}/img/common/logo.png" alt="{{ BaseInfo.shop_name }}"></a></p>
{% endif %}
	</div>

	<div class="inner sp">
{% if currentPath=='/' %}
		<h1 class="logo sp"><a href="{{ url('homepage') }}"><img src="{{ app.config.front_urlpath }}/img/sp/common/logo.png" alt="{{ BaseInfo.shop_name }}" width="100" height="25"></a></h1>
{% else %}
		<p class="logo sp"><a href="{{ url('homepage') }}"><img src="{{ app.config.front_urlpath }}/img/sp/common/logo.png" alt="{{ BaseInfo.shop_name }}" width="100" height="25"></a></p>
{% endif %}
	</div>

</div>