{% block main %}
    <div class="item_gallery">
        {% if rp_count > 0 %}
            <h4>{{ title }}</h4>
        {% endif %}
        <ul class="row">
            {% for reldat in hsd_same_category %}
                <div class="col-sm-3 col-xs-6">
                    <div class="pickup_item">
                        <a href="{{ url('product_detail', {'id': reldat.product_id}) }}">
                            <div class="item_photo"><img src="{{ app.config.image_save_urlpath }}/{{ reldat.file_name | no_image_product }}"></div>
                            <dd class="item_comment">{{reldat.description_detail[:30] ~ '...' }}</dd>
                            <dl>
                                <dt class="item_name">{{reldat.name}}</dt>
                                {% if reldat.min_price == reldat.max_price %}
                                    <dd class="item_price">{{ reldat.min_price|number_format(0, '.', ',') }}円</dd>
                                {% else %}
                                    <dd class="item_price">{{ reldat.min_price|number_format(0, '.', ',') }}円 〜 {{ reldat.max_price|number_format(0, '.', ',') }}円</dd>
                                {% endif %}
                            </dl>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
