{% extends 'default_frame.twig' %}

{% block javascript %}
<script>

</script>
{% endblock %}

{% block stylesheet %}
<style type="text/css">
/* ==================== PC ==================== */
.company-table{width:100%;margin-top:30px}.company-table th,.company-table td{padding:20px;border:1px solid #ddd}.company-table th{width:190px;background-color:#f6f6f6}

.subpage-heading {
    position: relative;
    margin-bottom: 25px;
    padding: 12px 10px 12px 28px;
    border-radius: 4px;
    background-color: #f1f1f1;
    box-shadow: 0 1px 2px 1px #ccc;
    font-size: 18px;
    font-weight: bold;
}
.subpage-heading:before {
    content: '';
    position: absolute;
    margin: 6px 0;
    top: 0;
    bottom: 0;
    left: 8px;
    right: 0;
    width: 8px;
    max-height: 100%;
    background-color: #da0d0d;
    border-radius: 3px 0 0 3px;
}

#contents{
	padding-top:0px;
}
#breadcrumbs.bg-grey {
    background: #f4f4f4;
}
#breadcrumbs {
    margin-bottom: 0;
    margin-top: 0px;
}
#breadcrumbs .parent {
    overflow: hidden;
    display: block;
    width: 1000px;
    margin: 0 auto;
    padding: 11px 0;
    color: #666;
}
#breadcrumbs .children {
    float: left;
    font-size: 10px;
    position: relative;
}
#breadcrumbs a {
    color: #666;
    margin-right: 20px;
}
#breadcrumbs a:after {
    content: ">";
    position: absolute;
    top: -1px;
    right: 5px;
}
/* ==================== PC ==================== */

/* ==================== SP ==================== */
.clearfix{overflow:hidden}.company-info{margin:0 10px 30px;font-size:1rem}.company-info dt{margin:20px 0 15px;padding:10px;background-color:#eee;font-size:1.1rem;font-weight:bold}.company-info dd{line-height:1.6}

.page-heading {
    display: block;
    position: relative;
    padding: 10px 40px;
    background-color: #333;
    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: #fff;
}
.page-heading .page-heading-back {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    margin: auto 0;
    width: 30px;
    height: 30px;
    text-align: left;
    text-indent: 100%;
    line-height: 30px;
}
.page-heading .page-heading-back:before {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}

/* ==================== SP ==================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

</style>
{% endblock %}

{% block main %}


<div id="container" class="pc">
	<div id="container-inner">
		<p id="breadcrumbs">
			<span class="parent" prefix="v:http://rdf.data-vocabulary.org/#">
				<span class="children first" typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ url('homepage') }}">スマホマニアトップ</a></span>
				<span class="children" typeof="v:Breadcrumb"><span property="v:title">運営会社情報･特定商取引法に基づく表記</span></span>
			</span>
		</p>

		<h1 class="subpage-heading">運営会社情報･特定商取引法に基づく表記</h1>
		<table class="company-table">
			<tr>
				<th>運営会社</th>
				<td>{{ BaseInfo.company_name }}</td>
			</tr>
			<tr>
				<th>運営責任者</th>
				<td>藤内 優</td>
			</tr>
			<tr>
				<th>事業所所在地</th>
				<td>
					<p>
						本社:<br>
						〒{{ BaseInfo.zip01 }}-{{ BaseInfo.zip02 }} {{ BaseInfo.pref }}{{ BaseInfo.addr01 }}{{ BaseInfo.addr02 }}
					</p>
					<p>
						東京営業所:<br>
						〒141-0022 東京都品川区東五反田1丁目2番33号 白雉子ビル 7F
					</p>
				</td>
			</tr>
			<tr>
				<th>連絡先</th>
				<td>
					Eメール:<br>
					info@sumaho-mania.com<br>
					弊社電話番号はお客様からのご要望に基づき、遅延なく電子メールにて通知いたします。<br>
					弊社電話番号が必要なお客様は、上記お問い合わせ窓口からお申し出ください。
				</td>
			</tr>
			<tr>
				<th>事業内容</th>
				<td>
					WEB販売代行<br>
					WEBマーケティング事業<br>
					ブロードバンドコンサルタント事業<br>
					メディア事業
				</td>
			</tr>
			<tr>
				<th>営業時間</th>
				<td>{{ BaseInfo.business_hour }}</td>
			</tr>
			<tr>
				<th>注文方法</th>
				<td>Web申込フォームでのご注文</td>
			</tr>
			<tr>
				<th>商品などの詳細説明</th>
				<td>名称、内容など各ページに記載</td>
			</tr>
			<tr>
				<th>商品代金以外の必要料金</th>
				<td>送料、代引き手数料（代引き希望の場合）、カード手数料（お使いのクレジットカードによって発生する場合がございます）</td>
			</tr>
			<tr>
				<th>送料</th>
				<td>一律500円</td>
			</tr>
			<tr>
				<th>引き渡し時期</th>
				<td>申込確認後、最短翌日発送</td>
			</tr>
			<tr>
				<th>返品/返還の特約</th>
				<td>
					申込の取り消し 不可<br>
					発送前にご連絡ください
				</td>
			</tr>
		</table>


	</div>
</div>


<div id="contents" class="sp">
	<div class="page-heading">
		<p><a href="<!--{$smarty.const.ACW_BASE_URL}-->" class="page-heading-back">戻る</a></p>
		<h1>運営会社情報・特定商取引法に基づく表記</h1>
	</div>
	<div class="company-info">
		<dl>
			<dt>運営会社</dt>
			<dd>{{ BaseInfo.company_name }}</dd>
			<dt>運営責任者</dt>
			<dd>藤内 優</dd>
			<dt>事業所所在地</dt>
			<dd>
				<ul>
					<li>
						本社:<br>
						〒{{ BaseInfo.zip01 }}-{{ BaseInfo.zip02 }} {{ BaseInfo.pref }}{{ BaseInfo.addr01 }}{{ BaseInfo.addr02 }}
					</li>
					<li>
						東京営業所:<br>
						〒141-0022 東京都品川区東五反田1丁目2番33号 白雉子ビル 7F
					</li>
				</ul>
			</dd>
			<dt>連絡先</dt>
			<dd>
				Eメール:<br>
				info@sumaho-mania.com<br>
				弊社電話番号はお客様からのご要望に基づき、遅延なく電子メールにて通知いたします。<br>
				弊社電話番号が必要なお客様は、上記お問い合わせ窓口からお申し出ください。
			</dd>
			<dt>事業内容</dt>
			<dd>
				<ul>
					<li>WEB販売代行</li>
					<li>WEBマーケティング事業</li>
					<li>ブロードバンドコンサルタント事業</li>
					<li>メディア事業</li>
				</ul>
			</dd>
			<dt>営業時間</dt>
			<dd>Webお申し込みは24時間受付中</dd>
			<dt>注文方法</dt>
			<dd>Web申込フォームでのご注文</dd>
			<dt>商品などの詳細説明</dt>
			<dd>名称、内容など各ページに記載</dd>
			<dt>商品代金以外の必要料金</dt>
			<dd>送料、代引き手数料（代引き希望の場合）、カード手数料（お使いのクレジットカードによって発生する場合がございます）</dd>
			<dt>送料</dt>
			<dd>一律500円</dd>
			<dt>引き渡し時期</dt>
			<dd>申込確認後、最短翌日発送</dd>
			<dt>返品/返還の特約</dt>
			<dd>
				申込の取り消し 不可<br>
				発送前にご連絡ください
			</dd>
		</dl>
	</div>
</div>
{% endblock %}